.nav-container{
    padding: 0 5vw;
    background-color: rgba(206, 205, 209, 0.06);

    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    -webkit-box-shadow: 5px 17px 15px -8px rgba(0,0,0,0.17); 
box-shadow: 0px 15px 15px 1px rgba(216, 216, 216, 0.17);

    .logo-container{
        a{
            .logo{
                width: 240px;

                img {
                    max-width: 100%;
                }
            }
        }
        
    }

    .menu-desktop {
        
        .menu-item {
            font-size: .9rem;
            font-weight: 500;
            padding: 0 10px;
            margin: 0 5px;
            padding-bottom: 3px;
            cursor: pointer;

            &:hover {

                color: #5a5774;
                border-bottom: 1px solid #5a577413;
            }
        }
        .menu-item-info {
            padding-right: 0;
            margin-right: 0;
            font-size: 1.3rem;
        }

        @media screen and (max-width: 900px) {
            display: none;
          }
    }

    .menu-mobile-open{
        display: none;

        @media screen and (max-width: 900px) {
            display: block;
            font-size: 1.8rem;
          }
    }
}

.menu-mobile{
    width: 80vw;
    height: 100vh;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #FCFAF6;
    padding: 20px;

    .menu-mobile-close{
        text-align: right;
        font-size: 2rem;
        
        margin-bottom: 40px;
    }
    .menu{
        display: flex;
        flex-direction: column;

        .menu-item{
            font-size: 1.2rem;
            padding: 10px;
            margin: 10px 0;

            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        
    }
}