@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    font-family: 'Ubuntu', sans-serif;

    --primary-color: #232131;
    --secondary-color: #464352;
    --bg-color: #fffefb;
    --lightGray-color: #22707d;
    --green-color: #0ac2b0;
    --yellow-color: #FFC870;
    --red-color: #FE5D62;
    --white-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: var(--primary-color);

    outline: none;
    border: none;
    text-decoration: none;

    scroll-behavior: smooth;
}

html {
    font-size: 20px;
    font-family: var(--font-base);
    font-weight: 400;
    color: var(--primary-color);
    scroll-behavior: smooth;

    @media screen and (max-width: 900px) {
        font-size: 18px;
    }
}

body {
    background-color: var(--bg-color);
}

#root {
    height: 100vh;
}

input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);

    &:hover {
        background-color: var(--white-color);
        -webkit-box-shadow: 0px 10px 13px -7px #0000002f, 0px 10px 0px -30px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 13px -7px #86868619, 0px 10px 0px -30px rgba(0, 0, 0, 0.1);
    }

    &:focus,
    &:active {
        background-color: var(--white-color);
        -webkit-box-shadow: 0px 10px 13px -7px #0000002f, 0px 10px 0px -30px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 10px 13px -7px #86868619, 0px 10px 0px -30px rgba(0, 0, 0, 0.2);
    }

}